NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://user:password@host:5432/stockglow
DIRECT_URL=postgresql://user:password@host:5432/stockglow
CLERK_SECRET_KEY=sk_test_...
CLERK_PUBLISHABLE_KEY=pk_test_...
FRONTEND_URL=http://localhost:5173
UPSTASH_REDIS_REST_URL=https://[Your-Upstash-Redis-URL].upstash.io
UPSTASH_REDIS_REST_TOKEN=[Your-Upstash-Redis-Token]
CLOUDINARY_CLOUD_NAME=tu-cloud-name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=abcdefghijklmnopqrstuvwxyz